<div class="homeWrapper">
    <div class="sidebar">
        <div class="card">
            <img class="md-user-avatar" src="assets/images/Profile.png"/>
            <span class="subtitle">{{userInfo.username}}</span>
            <span class="subhead">{{userInfo.email}}</span>
        </div>
        <ul class="menu">
            <li class="title">
                <span>Group</span>
                <i class="fa fa-plus-circle" aria-hidden="true" (click)="AddGroup()"></i>
            </li>
            <li class="menuItem" *ngFor="let group of userInfo.groups" (click)="GroupDirect(group._id)">
                &bull;&nbsp;&nbsp;
                <span>{{group.groupName}}</span>
            </li>
            <li class="title">
                <span>Channel</span>
                <i class="fa fa-plus-circle" aria-hidden="true" (click)="AddChannel()"></i>
            </li>
            <li class="menuItem" *ngFor="let channel of userInfo.channels" (click)="ChannelDirect(channel._id)">
                #&nbsp;&nbsp;<span>{{channel.channelName}}</span>
            </li>
            <li class="menuItem" (click)="Logout()">
                <span>Log out</span>
            </li>
        </ul>
    </div>
    <div class="mainContent">
        <router-outlet></router-outlet>
    </div>
</div>