/***** Define page structure stylesheets ******/
/* inject dependencies scss */
@import "../dependencies/helpers.scss";
@import "../dependencies/variables.scss";

/* make text unselectable */

.unselectable {
  @include user-select(none);
}

.unclickable {
  color: $chat-mid-grey;
  &:hover {
    background: inherit !important;
    border: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
  }
}

button {

  &:focus {
    outline: 0 !important;
  }
  &:disabled {
    cursor: not-allowed !important;
  }
  &.mat-raised-button {
    @include border-radius(.3rem);
    @include opacity(1);
    border: 1px solid;
    box-shadow: none !important;
    color: $chat-white;
    &:disabled {
      background-color: $chat-mid-grey !important;
      border: 1px solid $chat-mid-grey;
      cursor: not-allowed;
    }
  }

  &.btn-primary:not(:disabled) {
    font-size: 1em;
    font-weight: 300;
    background: $chat-navy;
    &:hover {
      color: $chat-navy;
      background: $chat-white;
    }
  }

  &.btn-secondary:not(:disabled) {
    font-size: 1em;
    font-weight: 300;
    background: $chat-black;
    border: 1px solid $chat-navy;
    &:hover {
      color: $chat-navy;
      background: $chat-white;
    }
  }

  &.btn-converse:not(:disabled) {
    font-size: 1em;
    font-weight: 300;
    background: $chat-white;
    color: $chat-navy;
    &:hover {
      color: $chat-white;
      background: $chat-navy;
    }
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.mat-dialog-container {
  padding: 0 !important;
  background-color: $chat-white-grey;
}

.mat-datepicker-content-touch {
  margin: 0 !important;
}

.mat-autocomplete-panel {
  .mat-option {
    line-height: 1.2em;
    height: 3.5em;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
