/* Greyscale color variables */

$chat-white: #FFFFFF; // preferred
$chat-white-grey: #F8F8F8;
$chat-light-grey: #E8E8E8; // preferred
$chat-mid-grey: #9B9B9B; // preferred
$chat-dark-grey: #6A6A6A; // preferred
$chat-black-grey: #3E3E3E;
$chat-dark-black: #3b3734;
$chat-black: #000000; // preferred

/* navy color variables */

$chat-white-navy: #517392;
$chat-light-navy: #073763;
$chat-navy: #052A51; // preferred
$chat-dark-navy: #021635;

/* Notification color variables */

$chat-forgive: #009688;
$chat-success: #5CB85C;
$chat-primary: #428BCA;
$chat-info: #5BC0DE;
$chat-warning: #FFD500;
$chat-alert: #F44336;
$chat-default: #F9F9F9;
